{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4" style="color: #1F2937; font-weight: 700;">Certificado de Participação</h1>
        <div class="certificacao mb-4 p-5 rounded shadow-lg" style="background-color: #D1D5DB; border: 2px solid #6B7280;">
            <h2 class="text-center mb-3" style="color: #1F2937; font-size: 24px; font-weight: bold;">Certificado de Participação</h2>
            <p class="text-center" style="color: #4B5563; font-size: 18px; line-height: 1.6; margin-bottom: 20px;">
                Certificamos que <strong style="color: #3B82F6;">{{ participante.nome_completo }}</strong> participou do evento <strong style="color: #3B82F6;">{{ evento.titulo }}</strong>.
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <button onclick="window.print()" class="btn btn-primary mr-3" style="background-color: #3B82F6; border: none; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: 500; transition: background-color 0.3s ease;">Imprimir Certificado</button>
            <a href="{{ url_for('lista_participantes', evento_id=evento.id) }}" class="btn btn-outline-secondary mt-3" style="border-color: #6B7280; color: #6B7280; padding: 12px 24px; border-radius: 8px; font-size: 16px; font-weight: 500; transition: background-color 0.3s ease;">Voltar para Participantes</a>
        </div>
    </div>
    <style>
      .btn-outline-secondary:hover {
        background-color: #6B7280;
        color: #F2F2F2;
      }
      @media print {
        body * {
          visibility: hidden;
        }
        .certificacao, .certificacao * {
          visibility: visible;
        }
        .certificacao {
          position: absolute;
          left: 0;
          top: 0;
           width: 100%;
           height: 100%;
        }
      }
    </style>
{% endblock body %}
