{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Eventos</h1>
        <hr>
        <div class="row g-4">
            {% for evento in eventos %}
                <div class="col-md-6 col-lg-4 mb-4"> {# Adicionei margin bottom para espaçamento entre os cards #}
                    <div class="card h-100">
                        <div class="img-wrapper">
                            {% if evento.foto1 %}
                                <img src="{{ url_for('static', filename='foto_eventos/' ~ evento.foto1) }}" class="card-img-top evento-img" alt="Foto do Evento">
                            {% else %}
                                <img src="https://via.placeholder.com/400x200" class="card-img-top evento-img" alt="Foto do Evento">
                            {% endif %}
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ evento.titulo }}</h5>
                            <p class="card-text">Data: {{ evento.data.strftime('%d/%m/%Y %H:%M') }}</p>
                            <p class="card-text">Organizador: {{ evento.organizador }}</p>
                            <a href="{{ url_for('lista_participantes', evento_id=evento.id) }}" class="btn btn-primary mt-auto">Ver Participantes</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        .evento-img {
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
        .img-wrapper{
            height: 200px;
            overflow: hidden;
        }
        .card {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock body %}
