{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Participantes do Evento: {{ evento.titulo }}</h1>
        <p>Total de Participantes: {{ participantes | length }}</p> {# Exibe o total de participantes #}
        <hr>
        {% if participantes %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome Completo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participante in participantes %}
                            <tr>
                                <td>{{ participante.nome_completo }}</td> {# Exibe apenas o nome completo #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Ainda não há participantes inscritos neste evento.</p>
        {% endif %}
        <a href="{{ url_for('eventos') }}" class="btn btn-secondary mt-3">Voltar para Eventos</a>
    </div>
{% endblock body %}
